dash==2.9.2
dash-bootstrap-components
yfinance
plotly
pandas
requests
python-dotenv
gunicorn
numpy==1.24.3
flask_sqlalchemy
flask_bcrypt
psycopg2
flask_migrate
prophet
dash_extensions
flask_session
openai
apscheduler
psycopg2-binary
flask_mail
stripe
logging
