.grayed-out {
    background-color: #d3d3d3; /* Light gray background */
    color: #a9a9a9;            /* Dark gray text color */
    border-color: #a9a9a9;     /* Dark gray border color */
    /*cursor: not-allowed;       /* Change cursor to indicate "disabled" */
    /*pointer-events: none;      /* Prevent interaction */
    opacity: 0.5;             /* Slightly transparent */
}

.navbar {
    padding: 1rem 1rem;
}

.navbar-nav .nav-item {
    margin-left: 1rem;
}

.navbar-logo {
    height: 10%; /* Adjust this percentage as needed */
    max-height: 60px; /* Set a max-height to prevent it from growing too large */
    object-fit: contain; /* Ensure the image maintains its aspect ratio */
}

.blinking-dot {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.tab-stock-prices .tab-label::before {
    font-family: "Font Awesome 5 Free";
    content: "\f201"; /* FontAwesome icon for chart-line */
    margin-right: 8px;
}

.tab-stock-news .tab-label::before {
    font-family: "Font Awesome 5 Free";
    content: "\f1ea"; /* FontAwesome icon for newspaper */
    margin-right: 8px;
}

.tab-indexed-comparison .tab-label::before {
    font-family: "Font Awesome 5 Free";
    content: "\f24e"; /* FontAwesome icon for balance-scale */
    margin-right: 8px;
}

.tab-investment-simulation .tab-label::before {
    font-family: "Font Awesome 5 Free";
    content: "\f1ec"; /* FontAwesome icon for calculator */
    margin-right: 8px;
}


#chatbot-conversation {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    height: 400px; /* Fixed height */
    overflow-y: auto; /* Enable scrolling */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


#chatbot-conversation p {
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    
}

#chatbot-conversation p.user {
    background-color: #8bc462;
    color: black;
    align-self: flex-end;
    text-align: right;
    margin-left: 30%;
}


/* Fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in;
}


#chatbot-conversation .chatbot-response {
    animation: fadeIn 1s ease-in-out; /* Apply the fade-in animation */
    background-color: #e9ecef;
    color: black;
    margin-right: 30%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    opacity: 0; /* Start hidden */
}

#chatbot-conversation .chatbot-response.fade-in {
    opacity: 1; /* Fully visible */
}




#chatbot-conversation .chatbot-response .robot-avatar {
    font-size: 25px;
    margin-right: 10px;
    margin-top: 5px; /* Adjust margin to align better with text */
}

#chatbot-conversation .chatbot-response .chatbot-text {
    font-size: 16px;
    display: block;
    white-space: pre-wrap; /* Preserve line breaks */
}


/* Other styling for inputs and buttons */
#chatbot-input {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#send-button, #clear-button {
    border-radius: 10px;
    boxShadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.typing-indicator {
    font-style: italic;
    color: gray;
    animation: blink 1s steps(5, start) infinite;
}

.final-response {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.final-response.shown {
    opacity: 1;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}



